@import url(fonts/fonts.css);

#form{
    margin: auto;
    margin-top: 75px;

    padding: 75px;
    padding-left:  250px;
    padding-right: 250px;

    font-family: "font-light";
    font-weight: 400;
    font-style: normal;

    width: 450px;
    height: 400px;

    border-radius: 75px;

    background-color: rgb(172, 248, 255);
}
#submit{
    display: flex;

    padding-left:   70px;
    padding-right:  70px;
    padding-top:    20px;
    padding-bottom: 20px;

    margin: 20px auto;
    margin-top: 80px;

    background-color: white;
    
    border-style: none;
    border-radius: 30px;
    
    box-shadow: 0px 3.5px 0px gray;

    font-size: 20px;
}
#submit:hover, #submit:active{
    display: flex;

    padding-left:   70px;
    padding-right:  70px;
    padding-top:    20px;
    padding-bottom: 20px;

    margin: 20px auto;
    margin-top: 80px;

    background-color: white;
    
    border-style: none;
    border-radius: 30px;

    transform: translateY(3px);
    box-shadow: 0px 0px 0px gray;
}
#site-name{
    text-align: center;
    font-size: 28px;
}
.form-list{
    padding: 0px;
    list-style: none;
}
.form-item{
    margin-left: 10px;
    margin-right: 10px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-password, #user-id{
    padding: 15px;
    
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border-style: none;

    font-size: 20px;
}
#show-password-container{
    position: absolute;
    transform: translateX(-75px);
    display: flex;
}
.form-label{  
    text-align: left;
    font-size: 20px;
}
#password-hiding-btn{
    margin-top: 16px;

    width: 32px;
    height: 32px;

    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}
.show-pass{
    width: 32px;
    height: 32px;

    padding: 10px;

    margin-top: 6px;
}
