body{
    font-family: 'font-regular';
}
main{
    margin: auto;
    text-align: center;

    width: 500px;
    height: 250px;
    background-color: rgb(255, 195, 195);
    padding: 25px;

    border-style: none;
    border-radius: 100px;
}
main h2{
    font-size: 32px;
}